@model SupremeBot.Models.TaskItem

@{
    ViewData["Title"] = "CreateTaskItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateTaskItem</h2>

<h4>TaskItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="taskForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input type="text" value="0" class="form-control" id="nameInput" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delay" class="control-label"></label>
                <input type="number" value="0" class="form-control" id="delayInput" />
                <span asp-validation-for="Delay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefreshInterval" class="control-label"></label>
                <input type="number" value="0" class="form-control" id="refreshIntervalInput" />
                <span asp-validation-for="RefreshInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Only with empty basket</label>
                <input type="checkbox" id="onlyWithEmptyBasketInput" />
            </div>
            <div class="form-group">
                <label>Any color</label>
                <input type="checkbox" id="anyColorInput" />
            </div>
            <div class="form-group">
                <label>Fill address</label>
                <input type="checkbox" id="fillAddressInput" />
            </div>
            <div class="form-group">
                <label>Use timer</label>
                <input type="checkbox" id="useTimerInput" />
                <input type="time" id="timeInput" style="display: none;" step="1" />
            </div>
            <div class="form-group">
                <label>Address</label>
                <select class="form-control" id="addressSelect"></select>
            </div>
            <div class="form-group">
                <label>Cards</label>
                <select class="form-control" id="cardSelect"></select>
            </div>
            <div class="form-group">
                <label>Site</label>
                <select class="form-control" id="siteSelect"></select>
            </div>
            @*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*@

            <div class="row">
                <div class="col-md-4">
                    <div class="text-danger"></div>
                    @*<div class="form-group">
                        <label class="control-label"></label>
                        <select class="form-control" asp-items="Html.GetEnumSelectList<Sizes>()" id="sizeSelect"></select>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <select class="form-control" asp-items="Html.GetEnumSelectList<Categories>()" id="categorySelect"></select>
                        <span class="text-danger"></span>
                    </div>*@
                    @*<div class="form-group">
                        <label>Names</label>
                        <input type="text" id="namesInput"></input>
                    </div>
                    <div class="form-group">
                        <label>Colors</label>
                        <input type="text" id="colorsInput"></input>
                    </div>*@
                    <div class="form-group">
                        <label>Any color</label>
                        <input type="checkbox" id="anyColorCheck"></input>
                    </div>
                </div>
            </div>

            @*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var colors = [];
    var names = [];

    var fillAddressSelect = () => {
        var addressSelect = document.getElementById("addressSelect");

        $.getJSON("/addresses/addresses")
            .done(function(data) {
                console.log(data);
                // On success, 'data' contains a list of products.
                $.each(data,
                    function(key, item) {
                        var option = document.createElement("option");
                        option.value = data[key].id;
                        option.text = data[key].name;
                        addressSelect.add(option);
                    });

            });
    };

    var fillCardSelect = () => {
        var cardSelect = document.getElementById("cardSelect");

        $.getJSON("/cards/cards")
            .done(function(data) {
                console.log(data);
                // On success, 'data' contains a list of products.
                $.each(data,
                    function(key, item) {
                        var option = document.createElement("option");
                        option.value = data[key].id;
                        option.text = data[key].name;
                        cardSelect.add(option);
                    });

            });
    };

    var fillSiteSelect = () => {
        var cardSelect = document.getElementById("siteSelect");

        $.getJSON("/sites/sites")
            .done(function (data) {
                console.log(data);
                // On success, 'data' contains a list of products.
                $.each(data,
                    function (key, item) {
                        var option = document.createElement("option");
                        option.value = data[key].id;
                        option.text = data[key].name;
                        cardSelect.add(option);
                    });

            });
    };

    var timerCheckBoxClick = () => {
        var timeInput = document.getElementById('timeInput');

        if (timeInput.style.display == 'none')
            timeInput.style.display = 'block';
        else
            timeInput.style.display = 'none';
        console.log('timer checkbox clicked');

    }

    $(document).ready(function() {
        $('#colorButton1').on('click',
            function () {
                colorButtonClick(1);
            });
        $('#nameButton1').on('click',
            function () {
                nameButtonClick(1);
            });

        fillAddressSelect();
        fillCardSelect();
        fillSiteSelect();
        document.getElementById('timeInput').value = '11:59:50';

        document.getElementById('useTimerInput').onclick = timerCheckBoxClick;


        $("#taskForm").submit(function(event) {
            console.log("clicked");
            /* stop form from submitting normally */
            event.preventDefault();
            console.log("prevented default");
            //var items = [];
            // DO ZROBIENIA DLA WIELU ITEMOW
        //    var item = {
        //        colors: document.getElementById('namesInput').value,
        //        names: document.getElementById('colorsInput').value,
        //        anyColor: $('#anyColorCheck').val(),
        //        size: $('#sizeSelect').val(),
        //        category: $('#categorySelect').val()
        //};
            //items.push(item);
            var jason = {
                name: document.getElementById('nameInput').value,
                //items: items,
                anyColor: document.getElementById('anyColorInput').checked,
                delay: $('#delayInput').val(),
                refreshInterval: $('#refreshIntervalInput').val(),
                useTimer: document.getElementById('useTimerInput').checked,
                onlyWithEmptyBasket: document.getElementById('onlyWithEmptyBasketInput').checked,
                fillAddress: document.getElementById('fillAddressInput').checked,
                addressId: document.getElementById('addressSelect').value,
                cardId: document.getElementById('cardSelect').value,
                //time: document.getElementById('timeInput').value,
                hour: 1,
                minute: 1,
                second: 1,
                //site: document.getElementById('siteSelect').value
            };

            console.log(jason);

            $.ajax({
                method: "POST",
                url: '/tasks/createtask',
                data: JSON.stringify(jason),
                contentType: 'application/json'

            })
            .done(function (data) {
                console.log("done");
                console.log(data);
                window.location.href = "/tasks/taskdetails/" + data.id;
            })
                .fail(function (data) {
                    console.log("fail");
                    console.log(data);
                });

        });

    });

</script>
